<Ui>
    <Script file="Settings.lua"/>
    <Script file="Settings_Utils.lua"/>

    <CheckButton name="nPlatesCheckButtonTemplate" virtual="true" mixin="nPlatesCheckboxMixin">
        <Size x="26" y="26"/>
		<Layers>
			<Layer level="ARTWORK">
				<FontString name="$parentLabel" inherits="GameFontHighlightLeft" parentKey="label">
					<Anchors>
						<Anchor point="LEFT" relativePoint="RIGHT" x="2" y="1"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
        <Scripts>
            <OnLoad method="OnLoad"/>
            <OnEvent method="OnEvent"/>
            <OnClick method="OnClick"/>
            <OnEnter method="OnEnter"/>
            <OnLeave method="OnLeave"/>
            <OnEnable method="OnEnable"/>
            <OnDisable method="OnDisable"/>
        </Scripts>
        <NormalTexture file="Interface\Buttons\UI-CheckBox-Up"/>
		<PushedTexture file="Interface\Buttons\UI-CheckBox-Down"/>
	 	<HighlightTexture file="Interface\Buttons\UI-CheckBox-Highlight" alphaMode="ADD"/>
		<CheckedTexture file="Interface\Buttons\UI-CheckBox-Check"/>
		<DisabledCheckedTexture file="Interface\Buttons\UI-CheckBox-Check-Disabled"/>
    </CheckButton>

    <Slider name="nPlatesSliderTemplate" virtual="true" inherits="OptionsSliderTemplate" mixin="nPlatesSliderMixin">
        <Scripts>
            <OnLoad method="OnLoad"/>
            <OnEvent method="OnEvent"/>
            <OnValueChanged method="OnValueChanged"/>
        </Scripts>
    </Slider>

    <Frame name="nPlatesOptions" mixin="nPlatesConfigMixin">
        <Frames>
            <Frame name="$parentLeftSide" parentKey="LeftSide">
                <Size x="311"/>
                <Anchors>
                    <Anchor point="TOPLEFT"/>
                    <Anchor point="BOTTOMLEFT"/>
                </Anchors>
            </Frame>
            <Frame name="$parentRightSide" parentKey="RightSide">
                <Size x="311"/>
                <Anchors>
                    <Anchor point="TOPRIGHT"/>
                    <Anchor point="BOTTOMRIGHT"/>
                </Anchors>
            </Frame>
        </Frames>
        <Scripts>
            <OnLoad method="OnLoad"/>
            <OnEvent method="OnEvent"/>
        </Scripts>
    </Frame>
</Ui>
